.resultsBoxPanel {
    border: 1px solid #ccc;
    width: 100%;
    background-color: #0E1822;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: left;
    box-sizing: border-box;
    margin-right: 1.5px; /*Added because there is a small white bar on the left for some odd reason*/
}

.resultsBoxPanel h1 {
    color: white;
    width: 60%;
    margin-right: 1%;
}

.resultsBorder {
    padding: 16px;
    background-color: #257cd9;
    color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.resultsBorderHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.resultsPanel {
    margin-top: 16px;
    overflow-y: auto;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #F7F7F7;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}