.searchResultPanel {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    word-wrap: break-word;
    border-top: 8px solid #353641;
}

.searchResultPanel a {
    color: #333;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.searchResultPanel div a {
    margin-bottom: 0;
}